{% extends "layout.html" %}

{% block title %}
    Class
{% endblock %}

{% block main %}
    <!-- discription -->
	<section id="intro">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9">
                    <img class="img-fluid" src="../static/class.png" alt="art_works">
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-start mt-5">
                <h2>カリグラフィークラス概要</h2>
            </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-start">
                    <p class="text-xm text-dark">
                        ​カリグラフィーの基礎（初心者）から経験者まで。
                        レギュラークラス、ブラッシュクラスともに、カリグラフィーの基本となる道具の使い方から、小文字の基本、大文字の基本
                        その他の書体など、レタースペース、レイアウト、文字のバリエーション、作品作りなどを学んでいきます。
                        完全少人数制で丁寧に個別指導。各自のレベルやペースに合わせてレッスンします。初心者から経験者まで歓迎いたします。
                    </p>
                </div>
                <div class="col-lg-9 text-end">
                    <button class="my-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        More Details
                    </button>
                </div>
            </div>

            <div class="row justify-content-center align-items-center mb-4">
                <div class="col-lg-9 text-center">
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            レギュラークラスの内容　　講師：冨山静香
                            レギュラークラスでは、初心者から経験者まで、各自のレベルやペースに合わせてレッスンをします。初心者は、小文字の基本であるファンデーショナル体を学び、その後大文字の基本であるローマンキャピタル体へ進みます。この２書体を学ぶことでカリグラフィーの基本的知識が身についていきます。その後は相談をしながら、各々が学びたい書体や課題を決めていきます。イタリック体、ローマンキャピタルアドバンス、作品制作へのアプローチの仕方など、ご自分の目的に合わせて発展させていきます。お手本を写すのではなく、自らの文字で作品制作をしていける知識や技術を学んでいきます。
                            海外での展覧会やワークショップなどで得た知識と経験を皆さまにお伝えしていきます。
                            　　　　　　　
                            ブラッシュクラスの内容　　講師：冨山静香
                            日本人にも馴染みの深い筆を使ったアルファベット書道のクラスです。基本的な小文字、大文字の書き方を学んだ後は、カード作りや小作品制作を通じてそのバリエーションを丁寧に学んでいきます。通常のブロードエッジペンではなく、筆ペン（進度に応じて、通常の筆を使っていきます）を使いますので、手軽に日々の生活に取り入れていくことが出来ます。　　　　　　         
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-fluid" src="../static/class2.png" alt="art_works">
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <p>
                        <h4>開催日時：</h4>
                        <h6>レギュラークラス　　第１，３金曜日</h6>
                        <ol>
                            <li>AM 10:30 ～ 12:30</li>
                            <li>PM 14:30 ～ 16:00</li>
                        </ol>
                        <h6>ブラッシュクラス　　第２、４金曜日</h6>
                        <ol>
                            <li>AM 10:30 ～ 12:30</li>
                            <li>PM 14:30 ～ 16:00</li>
                        </ol>
                        <ul class="text-start" id="my_list">
                            <li>いずれのクラスも基本月２回となります。（月一回でも可）</li>
                            <li>空席があれば、イレギュラーな週、時間への変更も可能です。</li>
                            <li>いつからでも参加可能です。</li>
                        </ul>
                    </p> 
                </div>
            </div>

            <div class="row justify-content-center align-items-center mt-4">
                <div class="col-lg-4 col-md-5 col-sm-6 text-start">
                    <p id="my_p">
                        <span class="text-bold">定員</span>：１クラス４名<br>
                        <span>対象</span>：初心者、経験者<br>
                        <span>受講料</span>：<br>
                        １レッスン　　3,500円（税込み、当日払い）<br>
                        ８回チケット　26,000円<br>
                        　　　　（税込み、８回前払い、一年有効）<br>
                        ※別途、基本道具のペンまたは筆、紙、インク（約4000円程）かかります。
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 text-center d-none d-sm-block">
                    <img class="img-fluid" src="../static/logo.png" alt="art_works">
                </div>
            </div>

            <div class="row justify-content-center align-items center mt-5">
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <p>
                        場所：埼玉県上尾市谷津2-1-50-15 カジカワビル５階<br>
                        （JR高崎線上尾駅西口より徒歩３分）※一階は居酒屋の兆さんです。<br>
                        ※上尾駅は、東京駅、新宿駅から電車で４０から５０分のところとなります。
                        大宮駅から駅の場所です。
                    </p>
                </div>
            </div>
            <div class="row justify-content-center align-items center mt-5">
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <p>
                        ７月までの開講スケジュール<br>
                        5/12 5/19 5/26 6/9 6/16 6/23 7/7 7/14<br>
                        参加希望日の前々日までにご予約ください。
                    </p>
                    <p>
                        お問い合わせ、お申込みはメールにてお願いいたします。
                        体験、見学も随時受け付けています。<br>
                        氏名、電話番号、メールアドレスと共に希望クラスをお知らせください。<br>
                        また、<a href="mailto:letteringbutterfly@gmail.com?subject=Subject&body=Body">letteringbutterfly@gmail.com</a>　からのメールを受信いただけるよう、受信許可設定を
                        お願いいたします。
                    </p>
                </div>
            </div>

            <a class="my-button" href="/apply">申し込む</a>

        </div>
      </section>

{% endblock %}
